<div class="content">
    <header class="header">
        <section class="search-category">
            <input class="input-search" type="search" placeholder="Buscar...">
            <span class="filtros" (click)="showCategory()" [ngStyle]="{'color':filtroCategory!='Categorías' ?'#28DE83':'#FFF'}">{{filtroCategory}}</span>
            <span class="filtros" (click)="showCountry()" [ngStyle]="{'color':filtroCountry!='Países' ?'#28DE83':'#FFF'}">{{filtroCountry}}</span>
            <button class="btn" (click)="searchNews()">Buscar</button>
            <div class="menu" [ngStyle]="{'display': showMenuCategory?'flex':'none'}">
                <ul >
                    <li class="list-category" (click)="selectCategory(indice)" *ngFor="let item of categories; let indice = index" >{{item.label}}</li>
                </ul>


            </div>
            <div class="menu" [ngStyle]="{'display': showMenuCountry?'flex':'none'}">
                <ul >
                    <li (click)="selectCountry(indice)" class="list-category"*ngFor="let item of countries; let indice = index" >{{item.label}}</li>
                </ul>


            </div>

        </section>


    </header>

    <main>
        <span class="datetime"></span>
    </main>

</div>
